@import "../../../styles/variables";

.page-dashboard {

  .table-chip {
    color: #190078;
    height: 28px;
    font-size: 12px;
    -webkit-backface-visibility: hidden;
    span {
      padding: .6rem;
    }

    &.bg-warning {
      color: $body-color;
    }
  }
}
