/* The following block can be included in a custom.scss */

$primary:       #5124EF !default;
$success:       #5124EF !default;
$info:          rgba(81, 36, 239, 0.1) !default;
$warning:       #f5463c !default;
/* make the customizations */
$theme-colors: (
  "primary":    $primary, // cooby purple
  "secondary":  $primary, // same as primary. don't use #7F22FD cooby light purple.
  "success":    $primary,
  "info":       $info,
  "warning":    $warning
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
